.blog-wrapper{
    height:87vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.singleBlog-img-container{
    height: 60vh;
}
.singleBlog-img-container img{
    width: 100%;
    height: 100%;
}
.blog-card-description{
    max-height: 8rem;
    overflow: hidden;
    display: block;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}